/* primary:  #00458B rgb(0,69,139) ---slight darker: #013d79
secondary: #3FD2C7 rgb(63,210,199) ---slight darker: #38bdb4
accent: # rgb(153,221,255) ---slight darker: #8ac9e9
*/

/* ==================FOR NON-ADMIN NAVBAR============== */
.custom-rounded{
	border-radius: 10px;
}
.custom-bg-primary{
	background-color: #00458B;
}
.custom-bg-secondary{
	background-color: #3FD2C7;
}
.custom-bg-accent{
	background-color: #99DDFF;
}
.custom-text-primary{
	color: #00458B;
}
.custom-text-secondary{
	color: #3FD2C7;
}
.custom-text-accent{
	color: #99DDFF;
}
.custom-border-primary{
	border: 1px solid #00458B;
}
.custom-border-secondary{
	border: 1px solid #3FD2C7;
}
.custom-border-accent{
	border: 1px solid #99DDFF;
}
.custom-btn-primary{
	background-color: #00458B;
	color: white;
	border-width: 1px;
}
.custom-btn-primary:hover{
	background-color: #013d79;
}
.custom-btn-secondary{
	background-color: #3FD2C7;
	color: white;
	border-width: 1px;
}
.custom-btn-secondary:hover{
	background-color: #38bdb4;
}
.custom-btn-accent{
	background-color: #99DDFF;
	color: #00458B;
	border-width: 1px;
}
.custom-btn-accent:hover{
	background-color: #8ac9e9;
}
.custom-btn-outline-primary{
	background-color: white;
	color: #00458B;
	border: 1px solid #00458B;
}
.custom-btn-outline-primary:hover{
	background-color: #00458B;
	color:white;
}
.custom-btn-outline-secondary{
	background-color: white;
	color: #3FD2C7;
	border: 1px solid #3FD2C7;
}
.custom-btn-outline-secondary:hover{
	background-color: #3FD2C7;
	color: white;
}
.custom-btn-outline-accent{
	background-color: white;
	color: #99DDFF;
	border-width: 1px solid #99DDFF;
}
.custom-btn-outline-accent:hover{
	background-color: #99DDFF;
	color: #00458B;
}

.sidenav{
	width:20%;
	min-height: 100vh;
	height: 100vh;
	position:relative;
	overflow-x: visible;
	border-right: 3px solid #00458B;
	transition: all 1s ease-in;
	background-color: white;
}

.maindisplay{
	width:77%;
	overflow-y: auto;
	max-height: 100vh;
}

.brandlogo{
	width: 100%;
}

.h-100{
	height: 100vh;
}

.custom-shadow{
	box-shadow: 0px 3px 5px 3px rgba(92, 92, 92, 0.5);
}

.navtoggle{
	width:50px;
	height:50px;
	position: absolute;
	top: 50%;
	right: -25px;
	z-index: -2;
}

.custom-navbar{
	list-style: none;
	padding: 0;
	
}

.custom-navbar li{
	padding: 0px 20px;
	text-align: left;
	margin: 15px 0px;
}

.custom-navbar a{
	padding: 0;
	margin: 0;
	text-decoration: none;
}


/* ==================FOR DASHBOARD============== */

.gauge-container{
	width:400px;
	height:200px;
	position: relative;
	/* top: 30%; */
	left: 50%;
	overflow: hidden;
	text-align: center;
	transform: translate(-50%, 0%);
	border: 1px solid rgba(255,255,255,1);
	/* padding: 100px; */
}


.gauge-a{
	z-index: 1;
	position: absolute;
	background-color: rgba(200,200,200,1);
	/* width: 400px;
	height: 200px; */
	width: 100%;
	height: 100%;
	top: 0%;
	border-radius:250px 250px 0px 0px ;
    border: 1px sold black;
}
.gauge-b{
	z-index: 3;
	position: absolute;
	background-color: rgba(255,255,255,1);
	/* background-color: transparent; */
	/* width: 250px;
	height: 125px; */
	width: 63%;
	height: 63%;
	
	top: 75px;
	margin-left: 75px;
	margin-right: auto;
	border-radius:250px 250px 0px 0px ;
}
.gauge-c{
	z-index: 2;
	position: absolute;
	background-color:  rgb(0,69,139); /*#00458B*/
	/* width: 400px;
	height: 200px; */
	width: 100%;
	height: 100%;
	
	top: 200px;
	margin-left: auto;
	margin-right: auto;
	border-radius:0px 0px 200px 200px ;
  transform-origin:center top;
	/* transition: all 1.3s ease-in-out; */
	/* transform:rotate(.5turn); */

}
/* 
.container:hover .gauge-c{
	transform:rotate(.4turn);
}
.container:hover .gauge-data{
	color: rgba(255,255,255,1);
} */

.gauge-data{
	z-index: 4;
	/* color: rgba(255,255,255,.2); */
	font-size: 1.5em;
	line-height: 25px;
	position: absolute;
	width: 400px;
	height: 200px;
	top: 90px;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s ease-out;
	/* color: rgba(255,255,255,1); */

}
.dashboard-tooltip{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 1.5rem;
    height: 1.5rem;
}